* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top-banner,
#chess-board,
.bottom-infos {
  text-align: center;
}

/* ====== BOARD STYLING ======= */
#chess-board {
  width: 35vw;
  height: 35vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square > div {
  width-max: 100%;
  width: 90%;
  z-index: 1;
  cursor: pointer;
}

.square img {
  max-width: 100%;
  width: 89%;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.chess-game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.bottom-infos {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-button {
  padding: 1em 2em;
  background: green;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 1000ms;
  color: white;
}

.success-button:hover,
.success-button:focus-visible {
  transform: translateY(-0.75rem);
  transition: transform 250ms;
}

.solution-button {
  padding: 1em 2em;
  background: none;
  border-color: grey;
  border: 2;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 1000ms;
  color: grey;
  font-weight: bold;
}

.solution-button:hover,
.solution-button:focus-visible {
  transform: translateY(-0.75rem);
  transition: transform 250ms;
}

.wrong-move {
  animation-duration: 2s;
  animation-name: tilt-shaking;
  color: #e31837;
  font-weight: bold;
  font-size: larger;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(5deg);
  }
  24% {
    transform: rotate(0eg);
  }
  36% {
    transform: rotate(-5deg);
  }
  48% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  72% {
    transform: rotate(0deg);
  }
  84% {
    transform: rotate(-5eg);
  }
  100% {
    transform: rotate(0deg);
  }
  /* 100% {
    transform: rotate(5deg);
  } */
}

.heading {
  margin-top: 20px;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.chess-count {
  margin-top: 15px;
}

#diagram-count {
  font-size: 18px;
  line-height: 32px;
}

#diagram-count span {
  color: orange;
  font-weight: bold;
}

.diagram-rule {
  color: grey;
  font-style: italic;
}

#end-view {
  display: flex;
  text-align: center;
  margin-top: 200px;
}

#end-view p {
  font-size: 30px;
}

#end-view span {
  color: green;
}

.difficulty {
  font-weight: bold;
  color: grey;
}

.difficulty-stars {
  color: gold;
  font-weight: 900;
}

/* ======= CSS Styling The page View ========== */
/* .container {
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.header {
  object-fit: contain;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  position: static;
}

.heading {
  text-align: center;
}

.text-block {
  text-align: center;
  margin-top: 10px;
}

.chess-game {
  position: relative;
} */

/* Reponsive board */
@media (max-width: 600px) {
  #chess-board {
    width: 80vw;
    height: 80vw;
  }

  .heading {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  body {
    overflow: auto;
  }

  #end-view {
    margin-top: 80px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  #chess-board {
    width: 80vw;
    height: 80vw;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  #chess-board {
    width: 50vw;
    height: 50vw;
  }
}
